@model IEnumerable<rqrmenu.Areas.Dashboard.Models.Category>

@{
    ViewData["Title"] = "Home Page";
}

<!--==============================
    Hero Area
==============================-->
<!--==============================
    Hero Area
==============================-->
<section class="vs-hero-wrapper vs-hero-layout4  ">
    <div class="vs-hero-carousel navprevnext-white" data-height="550px" data-navprevnext="true">
        <div class="vs-hero-slide ls-slide" data-ls="duration: 7000; transition2d: 5;">
            <img src="~/assets/img/hero-img.jpg" alt="Slide Image" class="ls-bg" data-ls="bgsize: cover;">
            <span class="hero-subtitle text-white text-font3 h1 ls-l" style="left: 50%; top: 140px; font-size: 62px; white-space: normal; width: 860px; text-align: center;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Welcome to</span>
            <h1 class="hero-title text-white ls-l" style="left: 50%; top: 245px; width: 850px; font-size: 130px; white-space: normal; text-align: center; line-height: 90px;" data-ls="offsetxin: 100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: 50; durationout: 1000;">RQRMENU</h1>
            <p class="ls-l text-white" style="left: 50%; top: 368px; width: 900px; font-size: 18px; white-space: normal; text-transform: uppercase; text-align: center;" data-ls="delayin: 800;  showinfo:1; durationin:1000; scalexin:0.8; scaleyin:0.8;  scalexout:1.1; scaleyout: 1.1;">Home of the best hand made delicious food</p>
            <span class="shape1 ls-l" style="left: 300px; top: 379px; width: 80px; height: 2px; background-color: #ffffff;" data-ls="offsetxin: -100; durationin: 1000; delayin: 1500; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;"></span>
            <span class="shape2 ls-l" style="left: 840px; top: 379px; width: 80px; height: 2px; background-color: #ffffff;" data-ls="offsetxin: 100; durationin: 1000; delayin: 1500; easingin:easeOutQuint; offsetxout: 50; durationout: 1000;"></span>
            <div class="hero-btn ls-l" style="left: 50%; top: 425px; width: 180px; height: 60px; overflow: hidden; border-radius: 50px; line-height: 60px; font-size: 18px;" data-ls="delayin: 1100; showinfo:1; durationin:2000; easingin:easeOutExpo; scalexin:0.9; scaleyin:0.9; scalexout:1.1; scaleyout: 1.1; fadein:true; fadeout: true; transformoriginin:50% 143.8% 0;">
                <a href="contact.html" class="vs-btn mask-style1">Explore Foods</a>
            </div>
        </div>
        <div class="vs-hero-slide ls-slide" data-ls="duration: 7000; transition2d: 5;">
            <img src="~/assets/img/hero-img.jpg" alt="Slide Image" class="ls-bg" data-ls="bgsize: cover;">
            <span class="hero-subtitle text-white text-font3 h1 ls-l" style="left: 50%; top: 140px; font-size: 62px; white-space: normal; width: 860px; text-align: center;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Welcome to</span>
            <h1 class="hero-title text-white ls-l" style="left: 50%; top: 245px; width: 850px; font-size: 130px; white-space: normal; text-align: center; line-height: 90px;" data-ls="offsetxin: 100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: 50; durationout: 1000;">Food World</h1>
            <p class="ls-l text-white" style="left: 50%; top: 368px; width: 900px; font-size: 18px; white-space: normal; text-transform: uppercase; text-align: center;" data-ls="delayin: 800;  showinfo:1; durationin:1000; scalexin:0.8; scaleyin:0.8;  scalexout:1.1; scaleyout: 1.1;">we have everthing you need just order now</p>
            <span class="shape1 ls-l" style="left: 300px; top: 379px; width: 80px; height: 2px; background-color: #ffffff;" data-ls="offsetxin: -100; durationin: 1000; delayin: 1500; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;"></span>
            <span class="shape2 ls-l" style="left: 840px; top: 379px; width: 80px; height: 2px; background-color: #ffffff;" data-ls="offsetxin: 100; durationin: 1000; delayin: 1500; easingin:easeOutQuint; offsetxout: 50; durationout: 1000;"></span>
            <div class="hero-btn ls-l" style="left: 50%; top: 425px; width: 180px; height: 60px; overflow: hidden; border-radius: 50px; line-height: 60px; font-size: 18px;" data-ls="delayin: 1100; showinfo:1; durationin:2000; easingin:easeOutExpo; scalexin:0.9; scaleyin:0.9; scalexout:1.1; scaleyout: 1.1; fadein:true; fadeout: true; transformoriginin:50% 143.8% 0;">
                <a href="contact.html" class="vs-btn mask-style1">Explore Foods</a>
            </div>
        </div>
        <div class="vs-hero-slide ls-slide" data-ls="duration: 7000; transition2d: 5;">
            <img src="../assets/img/hero-img.jpg" alt="Slide Image" class="ls-bg" data-ls="bgsize: cover;">
            <span class="hero-subtitle text-white text-font3 h1 ls-l" style="left: 50%; top: 140px; font-size: 62px; white-space: normal; width: 860px; text-align: center;" data-ls="offsetxin: -200; durationin: 1000; delayin: 600; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;">Welcome to</span>
            <h1 class="hero-title text-white ls-l" style="left: 50%; top: 245px; width: 850px; font-size: 130px; white-space: normal; text-align: center; line-height: 90px;" data-ls="offsetxin: 100; durationin: 1000; delayin: 700; easingin:easeOutQuint; offsetxout: 50; durationout: 1000;">Party Zone</h1>
            <p class="ls-l text-white" style="left: 50%; top: 368px; width: 900px; font-size: 18px; white-space: normal; text-transform: uppercase; text-align: center;" data-ls="delayin: 800;  showinfo:1; durationin:1000; scalexin:0.8; scaleyin:0.8;  scalexout:1.1; scaleyout: 1.1;">take care of every moment with delicious food</p>
            <span class="shape1 ls-l" style="left: 280px; top: 379px; width: 80px; height: 2px; background-color: #ffffff;" data-ls="offsetxin: -100; durationin: 1000; delayin: 1500; easingin:easeOutQuint; offsetxout: -50; durationout: 1000;"></span>
            <span class="shape2 ls-l" style="left: 860px; top: 379px; width: 80px; height: 2px; background-color: #ffffff;" data-ls="offsetxin: 100; durationin: 1000; delayin: 1500; easingin:easeOutQuint; offsetxout: 50; durationout: 1000;"></span>
            <div class="hero-btn ls-l" style="left: 50%; top: 425px; width: 180px; height: 60px; overflow: hidden; border-radius: 50px; line-height: 60px; font-size: 18px;" data-ls="delayin: 1100; showinfo:1; durationin:2000; easingin:easeOutExpo; scalexin:0.9; scaleyin:0.9; scalexout:1.1; scaleyout: 1.1; fadein:true; fadeout: true; transformoriginin:50% 143.8% 0;">
                <a href="contact.html" class="vs-btn mask-style1">Explore Foods</a>
            </div>
        </div>
    </div>
</section>

<br>
<!--==============================
  Food Menu Area
==============================-->
<section class="vs-food-box-wrapper food-box-layout4 link-inherit background-image bg-fixed pt-lg-130 pt-60 pb-lg-100 pb-30" data-vs-img="../assets/img/food-bg-4-1.jpg" data-overlay="black" data-opacity="7" id="menu">
    <div class="container z-index-common">
        <div class="section-title text-center dark-style">
            <h2 class="sec-title1 text-font3">Check Our <span class="text-theme">Menu</span></h2>
            <div class="sec-line">
                <img src="../assets/img/shape/sec-title-2.png" alt="Section Shape Icon">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-7 dark-style">
                <div class="food-menu-style3 mb-40 mb-lg-70">
                    <ul class="nav nav-tabs justify-content-between" role="tablist">
                        @foreach (var cat in Model)
                        {
                            <li>
                                <a class="tab-button" id="tab-@cat.Id" data-toggle="tab" href="#content-@cat.Id" role="tab">
                                    <span class="btn-icon">
                                        <img src="@Url.Content("~/images/" + cat.Img)" alt="Category Image" style="width: 50px; height: 50px;" />
                                    </span>
                                    <span class="btn-text">@cat.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <!-- Tab Content for each category -->
        <div class="tab-content" id="foodTabContent">
            @foreach (var cat in Model)
            {
                <div class="tab-pane fade" id="content-@cat.Id" role="tabpanel">
                    <div class="row vs-carousel arrow-white" data-slidetoshow="3" data-lgslidetoshow="2" data-mdslidetoshow="2" data-smslidetoshow="1" data-xsslidetoshow="1" data-arrows="true">
                        @foreach (var item in cat.Items)
                        {
                            if (cat.Id ==item.CategoryId){
                            <div class="col-xl-4">
                                <div class="vs-food-box">
                                    <div class="food-image">
                                        <img src="@Url.Content("~/images/" + item.Image)" alt="@item.Name" />
                                        <span class="food-price">@item.Price @item.Currency</span>
                                    </div>
                                    <div class="food-content">
                                        <h3 class="food-title">@item.Name</h3>
                                        <p class="food-text">@item.Description</p>
                                        <a asp-action="shop_details" asp-route-id="@item.Id" class="vs-btn mask-style1">See Details</a>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
